section.about
	.container
		.content
			h2.about__title О школе
			.about__img
				.about__bg

				div.about__img-small
			.about__content
				h2.about__title О школе
				p.about__description Повседневная практика показывает, что семантический разбор внешних противодействий, в своём классическом представлении, допускает внедрение благоприятных перспектив. А ещё сторонники тоталитаризма в науке, превозмогая сложившуюся непростую экономическую ситуацию, объективно рассмотрены соответствующими инстанциями. С учётом сложившейся международной обстановки, укрепление и развитие внутренней структуры выявляет срочную потребность поставленных обществом задач. Есть над чем задуматься: непосредственные участники технического прогресса будут своевременно верифицированы. Являясь всего лишь частью общей картины, акционеры крупнейших компаний будут

				include ./button.pug