



section.coach
	.container
		.content
			h2.coach__title.subtitle Тренеры
			article.coach__card
				figure.coach__info
					img.coach__photo(src='./images/coach.jpg' alt='coach')
					figcaption.coach__name 
						span.stroke Бодао 
						| Барссо
				p.coach__description У Бодао более 50 проф поединков за плечами, он проводил бои в лучших лигах ММА мира, 5 лет в UFC и 3 года в PFL. И теперь он открыл свои клубы в России что бы поделиться с вами своим опытом. 

			article.coach__card
				figure.coach__info
					img.coach__photo(src='./images/coach.jpg' alt='coach')
					figcaption.coach__name 
						span.stroke Бодао 
						| Барссо
				p.coach__description У Бодао более 50 проф поединков за плечами, он проводил бои в лучших лигах ММА мира, 5 лет в UFC и 3 года в PFL. И теперь он открыл свои клубы в России что бы поделиться с вами своим опытом. 
			