
section.direction
	.container
		h2.subtitle Направление
	.content
		figure.direction__card
			img.direction__photo(src='./images/boxing.jpg' alt='box')
			figcaption.direction__description.stroke Бокс
		figure.direction__card
			img.direction__photo(src='./images/kikc.jpg' alt='box')
			figcaption.direction__description.stroke Кикбоксинг
		figure.direction__card
			img.direction__photo(src='./images/mma.jpg' alt='box')
			figcaption.direction__description.stroke мма
		figure.direction__card
			img.direction__photo(src='./images/bdd.jpg' alt='box')
			figcaption.direction__description.stroke Бразильское<br> джиу джитсу

