footer.footer
	.container
		.content
			.footer__wrap
				img.footer__logo(src="./images/logo.png")
				h3.footer__subtitle Разделы сайта
				h3.footer__subtitle Контакты
			.footer__items
				.footer__description
					p.footer__text Как уже неоднократно упомянуто, реплицированные с зарубежных источников, современные исследования представлены в исключительно положительном свете. Как принято считать, активно развивающиеся.
					include ./social.pug

				ul.sections__items
					li.section__item
						h4 О школе
					li.section__item
						h4 Тренеры
					li.section__item
						h4 Направления
					li.section__item
						h4 Расписание занятий

				ul.contacts__items
					li.contacts__item
						span.text__orange Номер телефона: What’s app  
						a(href='tel:+7-988-316-25-36') +7-988-316-25-36
					li.contacts__item
						span.text__orange Электронная Почта: 
						a(href='mailto: vlad.umarov99@gmail.com') vlad.umarov99@gmail.com
					li.contacts__item
						span.text__orange Адреса залов: 
						p Москва, 1-ый Партийный пер., 1, стр. 57, к. 3. <br>
							| Мытищи, Летная 40к1 домофон 1.		


