section.gallery
	.container
		h2.subtitle Галерея
		.content
			img(src='./images/coach.jpg').gallery__item
			img(src='./images/coach.jpg').gallery__item
			img(src='./images/coach.jpg').gallery__item
			img(src='./images/coach.jpg').gallery__item
			img(src='./images/coach.jpg').gallery__item
			img(src='./images/coach.jpg').gallery__item
			img(src='./images/coach.jpg').gallery__item
			img(src='./images/coach.jpg').gallery__item
			img(src='./images/coach.jpg').gallery__item