
.header
  .content
    .header__logo
      img.logo(src='./images/logo.png')
    .header__address
      div.wrap
        img.header__icon.header__icon-location(src='./images/location.svg') 
        a(href="#") Москва, 1-ый Партийный пер., 1, стр. 57, к. 3. <br> Мытищи, Летная 40к1 домофон 1.
    .header__contact
      div.wrap 
        img.header__icon.header__icon-phone(src='./images/phone.svg')
        a.header__phone(href="#") +7 (777) 707-37-97<br>
        a.header__social(href="#") Написать нам в What’s app  




