

section.home
	.container
		.content
			h1.home__title Франсимара<br> Бодао<br> Барросо
			h2.home__subtitle Bodao team команда<br> профессионального бойца<br> ММА из Бразилии
			img.home__hero(src='./images/hero.jpg')
			p.home__text У Бодао более 50 проф поединков за плечами,<br>  он проводил бои в лучших лигах ММА мира, 5<br>  лет в UFC и 3 года в PFL. И теперь он открыл<br>  свои клубы в России что бы поделиться с<br>  вами своим опытом. 
			include ./button.pug
	.btn__wrap
		include ./button.pug



