
section.schedule
	.container
		.content
			h2.subtitle Расписание занятий
			.schedule__cards
				include ./mixins.pug
				+schedule-card('1 день', '3 раза в неделю', 'Как уже неоднократно упомянуто, реплицированные с зарубежных источников, современные исследования представлены в исключительно положительном свете. Как принято считать, активно развивающиеся.', '41 788 ₽', '41 788 ₽')
				+schedule-card('1 месяц', '3 раза в неделю', 'Как уже неоднократно упомянуто, реплицированные с зарубежных источников, современные исследования представлены в исключительно положительном свете. Как принято считать, активно развивающиеся.', '41 788 ₽', '41 788 ₽')
				+schedule-card('2 месяц', '3 раза в неделю', 'Как уже неоднократно упомянуто, реплицированные с зарубежных источников, современные исследования представлены в исключительно положительном свете. Как принято считать, активно развивающиеся.', '41 788 ₽', '41 788 ₽')
				+schedule-card('4 месяц', '3 раза в неделю', 'Как уже неоднократно упомянуто, реплицированные с зарубежных источников, современные исследования представлены в исключительно положительном свете. Как принято считать, активно развивающиеся.', '41 788 ₽', '41 788 ₽')
				+schedule-card('6 месяц', '3 раза в неделю', 'Как уже неоднократно упомянуто, реплицированные с зарубежных источников, современные исследования представлены в исключительно положительном свете. Как принято считать, активно развивающиеся.', '41 788 ₽', '41 788 ₽')
				+schedule-card('1 год', '3 раза в неделю', 'Как уже неоднократно упомянуто, реплицированные с зарубежных источников, современные исследования представлены в исключительно положительном свете. Как принято считать, активно развивающиеся.', '41 788 ₽', '41 788 ₽')





