
doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  body
      include ../includes/header.pug
      include ../includes/home.pug
      include ../includes/about.pug
      include ../includes/coaches.pug
      include ../includes/direction.pug
      include ../includes/schedule.pug
      include ../includes/gallery.pug
      include ../includes/footer.pug




            
